<div class="charts-wrapper">
  <app-header></app-header>
  <div class="charts-inner charts-container">
    <div class="charts-inner ">
      <div class="nav">
        <ul>
          <li><a [routerLink]="'/main'">Main page <span style="color:#CCCCCC; font-size: 16px;">&#8250;</span></a></li>
          <li><a [routerLink]="'/stats'"> Users statistics <span
                style="color:#CCCCCC; font-size: 16px;">&#8250;</span></a></li>
          <li><a class="active"> {{firstName}} {{lastName}}</a></li>
        </ul>
      </div>
      <div class="charts-title">
        {{firstName}} {{lastName}}
      </div>
      <div class="charts">
        <div class="chart-clicks">
          <div class="title">Clicks</div>
          <chart [type]="type" [data]="chartDataClicks" [options]="optionsClicks"></chart>
        </div>
        <div class="chart-views">
          <div class="title">Views</div>
          <chart [type]="type" [data]="chartDataViews" [options]="optionsViews"></chart>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
